.admin
    margin-top 10px
    input
        width 35%
    select
        width 15%
    button
        padding 5px 10px
    button[type = submit]
        width 15%
        padding 0

.money-transfers, .hand-controls, .player-config, .blind-management
    margin 10px
    border 1px solid #fff
    border-radius 5px
    padding 10px
    &.closed
        display none

.admin-title
    margin 20px 0 0 10px
    font-size 22px

.hand-controls
    text-align center
    button
        font-size 18px
        padding 10px 20px
        margin 0 10px
        font-weight bold