.player-box
    img
        border:2px solid #ddd
        display inline-block
        margin-right 5px
        vertical-align middle

.player-box
    position relative
    &.dealer
        &::after
            content 'Dealer'
            display block
            width 24px
            height 24px
            border-radius 12px
            background #fff
            font-size 7px
            line-height 24px
            text-align center
            position absolute
            top -4px
            left -4px
            border 1px solid #444
        img
            border 2px solid #f00


.player-box
    &.folded
        opacity: 0.5;