.game-info
    position absolute
    top 260px
    right 0
    text-align right
    width 840px
    z-index 11
    ul
        text-align center
        list-style none
        width 100%

@media (min-width: 1050px)
    .game-info
        top 300px
        width 940px

@media (min-width: 1200px)
    .game-info
        top 390px
        width 1100px
        right -30px

@media (min-width: 1800px)
    .game-info
        top 500px
        width 1400px
        right -40px

.potlist
    .pot
        font-weight bold
        background-repeat no-repeat
        display inline-block
        padding-top 80px
        width 80px
        margin 0 10px
    .pot-xs
        background-image: url('images/chipset_xs.png')
    .pot-s
        background-image: url('images/chipset_s.png')
    .pot-m
        background-image: url('images/chipset_m.png')
    .pot-l
        background-image: url('images/chipset_l.png')