.react-poker-player
    .player-picker
        background darkgreen
        position absolute
        width 100%
        height 100%
        text-align center
        form
            padding-top 20px

.player-ui
    text-align center

    .slider
        width 160px
        &-label
            display inline-block
            width 40px

    .btn
        border none
        padding 5px
        margin 5px
        &-check
            display block
            width 200px
            margin auto
        &-bet
            background #0f0
            width 200px
        &-call
            width 95px
        &-fold
            width 95px
        &-reveal
            width 200px
        &-sit,
        &-stand
            background none
            color #fff
            font-weight bold
            font-size 0.8em
