// Import all partials
@require './_*.styl'

body
  background darkgreen
  color #fff

header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;

  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px


// Table

.table
  background-color tablegreen
  padding 20px
  margin 0 40px 0 80px
  text-align center

// Game info

.game-info
  position absolute
  top 0
  right 0
  text-align right


// Player list

.player-list
  position absolute
  top 10px
  left 10px
  text-align left
  vertical-align middle
  ul
    list-style none
    margin 0
    padding 0
    li
      background #fff
      color #444
      padding 5px
      font-size 12px
      font-weight bold
      border-radius 5px
      margin 2px 0
      position relative
      padding-right 75px
      span
        &.player-cash
          position absolute
          right 5px
        &.player-status
          position absolute
          right 0
          margin-right: -160px
          width 150px
          text-align left
          color #fff

// Player UI


// Helpers
.hidden
  display none