// Import all partials
@require './_*.styl'

html
  overflow-y scroll

body
  background darkgreen
  color #fff

header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;

  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px


// Revealed Hands

.reveal-list
  list-style none
  text-align center
  position absolute
  bottom 20px
  width 100%

  .revealedhand
    display inline-block
    width 150px
    height 160px
    margin-right 10px
    position relative
    text-align center
    -webkit-animation  slideUp 0.5s forwards
    animation  slideUp 0.5s forwards

    .revealcard
      position absolute
      display inline-block
      width 100px
      height 140px
      border-radius 10px
      background-size contain
      top 30px
      &:nth-child(1)
        left 0
        -webkit-transform rotateZ(-3deg)
        -ms-transform rotateZ(-3deg)
        transform rotateZ(-3deg)
      &:nth-child(2)
        left 50px
        -webkit-transform rotateZ(3deg)
        -ms-transform rotateZ(3deg)
        transform rotateZ(3deg)

@-webkit-keyframes slideUp {
    0% { -webkit-transform: translateY(200px); opacity: 0; }
    100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@-moz-keyframes slideUp {
    0% { -moz-transform: translateY(200px); opacity: 0; }
    100% { -moz-transform: translateY(0px); opacity: 1; }
}

// Player list

.player-list
  position absolute
  z-index 10
  top 10px
  left 10px
  text-align left
  vertical-align middle
  ul
    list-style none
    margin 0
    padding 0
    li
      background #fff
      color #444
      padding 5px
      font-size 12px
      font-weight bold
      border-radius 5px
      margin 2px 0
      position relative
      padding-right 75px
      img
        width 25px
      span
        &.player-cash
          position absolute
          right 5px
        &.player-status
          position absolute
          right 0
          margin-right: -160px
          width 150px
          text-align left
          color #fff

@media (min-width: 1200px)
  .player-list
    ul
      li
        padding-right 110px
        font-size 16px
        img
          width 40px

@media (min-width: 1800px)
  .player-list
    ul
      li
        padding-right 130px
        font-size 26px
        border-radius 10px
        margin-bottom 5px
        img
          width 60px


// Player UI

// Table Selector

.view-selection
  text-align center

.view-selector
  list-style none
  li
    width 200px
    height 230px
    padding-top 200px
    box-sizing border-box
    background-repeat no-repeat
    text-align center
    display inline-block
  .btn-tableview
    background-image: url('images/icon_table.png')
  .btn-handview
    background-image: url('images/icon_hand.png')


// Helpers
.hidden
  display none