.order-enter {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  max-height: 60px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 2rem 0 !important;
}
.order-exit {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.order-exit.order-exit-active {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  padding: 0;
}
.count-enter {
  background: #f00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.count-enter.count-enter-active {
  background: #ff0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-exit {
  background: #000;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
}
.count-exit.count-exit-active {
  background: #008000;
  -webkit-transform: translateY(-100%) scale(3);
          transform: translateY(-100%) scale(3);
}
.player-box img {
  border: 2px solid #ddd;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.player-box {
  position: relative;
}
.player-box.dealer::after {
  content: 'Dealer';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #fff;
  font-size: 7px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: -4px;
  left: -4px;
  border: 1px solid #444;
}
.player-box.dealer img {
  border: 2px solid #f00;
}
.player-box.folded {
  opacity: 0.5;
}
.table-card {
  display: inline-block;
  width: 100px;
  height: 140px;
  background-size: contain;
  margin-right: 5px;
  overflow: hidden;
  text-indent: -9868px;
  -webkit-animation: slideDown 0.5s forwards;
  animation: slideDown 0.5s forwards;
}
.table-card:nth-child(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  opacity: 0;
}
.table-card:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
}
@media (min-width: 1050px) {
  .table-card {
    width: 120px;
    height: 168px;
  }
}
@media (min-width: 1200px) {
  .table-card {
    width: 140px;
    height: 196px;
  }
}
@media (min-width: 1800px) {
  .table-card {
    width: 160px;
    height: 224px;
    margin-right: 20px;
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes revealUp {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px);
    opacity: 0;
  }
}
.hold-cards .holdcard {
  display: inline-block;
  width: 100px;
  height: 140px;
  border-radius: 10px;
  margin: 5px;
  background-size: contain;
  overflow: hidden;
  text-indent: -9868px;
}
.hold-cards .holdcard.blank {
  border: 1px solid #ccc;
}
.hold-cards.revealed {
  -webkit-animation: revealUp 0.5s forwards;
  animation: revealUp 0.5s forwards;
}
@media (max-width: 480px) {
  .hold-cards .holdcard {
    display: inline-block;
    width: 160px;
    height: 224px;
    border-radius: 10px;
    margin: 5px;
  }
}
.holdcard.HA,
.table-card.HA,
.revealcard.HA {
  background-image: url("images/cards/card_H_A.png");
}
.holdcard.H2,
.table-card.H2,
.revealcard.H2 {
  background-image: url("images/cards/card_H_2.png");
}
.holdcard.H3,
.table-card.H3,
.revealcard.H3 {
  background-image: url("images/cards/card_H_3.png");
}
.holdcard.H4,
.table-card.H4,
.revealcard.H4 {
  background-image: url("images/cards/card_H_4.png");
}
.holdcard.H5,
.table-card.H5,
.revealcard.H5 {
  background-image: url("images/cards/card_H_5.png");
}
.holdcard.H6,
.table-card.H6,
.revealcard.H6 {
  background-image: url("images/cards/card_H_6.png");
}
.holdcard.H7,
.table-card.H7,
.revealcard.H7 {
  background-image: url("images/cards/card_H_7.png");
}
.holdcard.H8,
.table-card.H8,
.revealcard.H8 {
  background-image: url("images/cards/card_H_8.png");
}
.holdcard.H9,
.table-card.H9,
.revealcard.H9 {
  background-image: url("images/cards/card_H_9.png");
}
.holdcard.HJ,
.table-card.HJ,
.revealcard.HJ {
  background-image: url("images/cards/card_H_J.png");
}
.holdcard.HQ,
.table-card.HQ,
.revealcard.HQ {
  background-image: url("images/cards/card_H_Q.png");
}
.holdcard.HK,
.table-card.HK,
.revealcard.HK {
  background-image: url("images/cards/card_H_K.png");
}
.holdcard.H10,
.table-card.H10,
.revealcard.H10 {
  background-image: url("images/cards/card_H_10.png");
}
.holdcard.DA,
.table-card.DA,
.revealcard.DA {
  background-image: url("images/cards/card_D_A.png");
}
.holdcard.D2,
.table-card.D2,
.revealcard.D2 {
  background-image: url("images/cards/card_D_2.png");
}
.holdcard.D3,
.table-card.D3,
.revealcard.D3 {
  background-image: url("images/cards/card_D_3.png");
}
.holdcard.D4,
.table-card.D4,
.revealcard.D4 {
  background-image: url("images/cards/card_D_4.png");
}
.holdcard.D5,
.table-card.D5,
.revealcard.D5 {
  background-image: url("images/cards/card_D_5.png");
}
.holdcard.D6,
.table-card.D6,
.revealcard.D6 {
  background-image: url("images/cards/card_D_6.png");
}
.holdcard.D7,
.table-card.D7,
.revealcard.D7 {
  background-image: url("images/cards/card_D_7.png");
}
.holdcard.D8,
.table-card.D8,
.revealcard.D8 {
  background-image: url("images/cards/card_D_8.png");
}
.holdcard.D9,
.table-card.D9,
.revealcard.D9 {
  background-image: url("images/cards/card_D_9.png");
}
.holdcard.DJ,
.table-card.DJ,
.revealcard.DJ {
  background-image: url("images/cards/card_D_J.png");
}
.holdcard.DQ,
.table-card.DQ,
.revealcard.DQ {
  background-image: url("images/cards/card_D_Q.png");
}
.holdcard.DK,
.table-card.DK,
.revealcard.DK {
  background-image: url("images/cards/card_D_K.png");
}
.holdcard.D10,
.table-card.D10,
.revealcard.D10 {
  background-image: url("images/cards/card_D_10.png");
}
.holdcard.CA,
.table-card.CA,
.revealcard.CA {
  background-image: url("images/cards/card_C_A.png");
}
.holdcard.C2,
.table-card.C2,
.revealcard.C2 {
  background-image: url("images/cards/card_C_2.png");
}
.holdcard.C3,
.table-card.C3,
.revealcard.C3 {
  background-image: url("images/cards/card_C_3.png");
}
.holdcard.C4,
.table-card.C4,
.revealcard.C4 {
  background-image: url("images/cards/card_C_4.png");
}
.holdcard.C5,
.table-card.C5,
.revealcard.C5 {
  background-image: url("images/cards/card_C_5.png");
}
.holdcard.C6,
.table-card.C6,
.revealcard.C6 {
  background-image: url("images/cards/card_C_6.png");
}
.holdcard.C7,
.table-card.C7,
.revealcard.C7 {
  background-image: url("images/cards/card_C_7.png");
}
.holdcard.C8,
.table-card.C8,
.revealcard.C8 {
  background-image: url("images/cards/card_C_8.png");
}
.holdcard.C9,
.table-card.C9,
.revealcard.C9 {
  background-image: url("images/cards/card_C_9.png");
}
.holdcard.CJ,
.table-card.CJ,
.revealcard.CJ {
  background-image: url("images/cards/card_C_J.png");
}
.holdcard.CQ,
.table-card.CQ,
.revealcard.CQ {
  background-image: url("images/cards/card_C_Q.png");
}
.holdcard.CK,
.table-card.CK,
.revealcard.CK {
  background-image: url("images/cards/card_C_K.png");
}
.holdcard.C10,
.table-card.C10,
.revealcard.C10 {
  background-image: url("images/cards/card_C_10.png");
}
.holdcard.SA,
.table-card.SA,
.revealcard.SA {
  background-image: url("images/cards/card_S_A.png");
}
.holdcard.S2,
.table-card.S2,
.revealcard.S2 {
  background-image: url("images/cards/card_S_2.png");
}
.holdcard.S3,
.table-card.S3,
.revealcard.S3 {
  background-image: url("images/cards/card_S_3.png");
}
.holdcard.S4,
.table-card.S4,
.revealcard.S4 {
  background-image: url("images/cards/card_S_4.png");
}
.holdcard.S5,
.table-card.S5,
.revealcard.S5 {
  background-image: url("images/cards/card_S_5.png");
}
.holdcard.S6,
.table-card.S6,
.revealcard.S6 {
  background-image: url("images/cards/card_S_6.png");
}
.holdcard.S7,
.table-card.S7,
.revealcard.S7 {
  background-image: url("images/cards/card_S_7.png");
}
.holdcard.S8,
.table-card.S8,
.revealcard.S8 {
  background-image: url("images/cards/card_S_8.png");
}
.holdcard.S9,
.table-card.S9,
.revealcard.S9 {
  background-image: url("images/cards/card_S_9.png");
}
.holdcard.SJ,
.table-card.SJ,
.revealcard.SJ {
  background-image: url("images/cards/card_S_J.png");
}
.holdcard.SQ,
.table-card.SQ,
.revealcard.SQ {
  background-image: url("images/cards/card_S_Q.png");
}
.holdcard.SK,
.table-card.SK,
.revealcard.SK {
  background-image: url("images/cards/card_S_K.png");
}
.holdcard.S10,
.table-card.S10,
.revealcard.S10 {
  background-image: url("images/cards/card_S_10.png");
}
.holdcard.back,
.table-card.back,
.revealcard.back {
  background-image: url("images/cards/card_back.png");
}
@font-face {
  font-family: "haymakerregular";
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blanchcaps_inline';
  src: url("./fonts/blanch_caps_inline-webfont.eot");
  src: url("./fonts/blanch_caps_inline-webfont.eot?#iefix") format('embedded-opentype'), url("./fonts/blanch_caps_inline-webfont.woff") format('woff'), url("./fonts/blanch_caps_inline-webfont.ttf") format('truetype'), url("./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format('svg');
  font-weight: normal;
  font-style: normal;
}
.game-info {
  position: absolute;
  top: 280px;
  right: 0;
  text-align: right;
  width: 840px;
  z-index: 11;
}
.game-info ul {
  text-align: center;
  list-style: none;
  width: 100%;
}
@media (min-width: 1050px) {
  .game-info {
    top: 325px;
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .game-info {
    top: 400px;
    width: 1100px;
    right: -30px;
  }
}
@media (min-width: 1800px) {
  .game-info {
    top: 500px;
    width: 1400px;
    right: -40px;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
.react-poker-player .player-picker {
  background: #01361a;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.react-poker-player .player-picker form {
  padding-top: 20px;
}
.player-ui {
  text-align: center;
}
.player-ui .slider {
  width: 160px;
}
.player-ui .slider-label {
  display: inline-block;
  width: 40px;
}
.player-ui .btn {
  border: none;
  padding: 5px;
  margin: 5px;
}
.player-ui .btn-check {
  display: block;
  width: 200px;
  margin: auto;
}
.player-ui .btn-bet {
  background: #0f0;
  width: 200px;
}
.player-ui .btn-call {
  width: 95px;
}
.player-ui .btn-fold {
  width: 95px;
}
.player-ui .btn-reveal {
  width: 200px;
}
.player-ui .btn-sit,
.player-ui .btn-stand {
  background: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
}
@media (max-width: 480px) {
  .player-ui .slider {
    width: 280px;
    margin: 10px 0;
  }
  .player-ui .slider-label {
    width: 50px;
  }
  .player-ui .btn {
    padding: 10px 5px;
    margin: 5px;
  }
  .player-ui .btn-check {
    width: 330px;
    margin: 10px auto;
  }
  .player-ui .btn-bet {
    width: 330px;
  }
  .player-ui .btn-call {
    width: 160px;
  }
  .player-ui .btn-fold {
    width: 160px;
  }
  .player-ui .btn-reveal {
    width: 330px;
  }
  .player-ui .btn-sit,
  .player-ui .btn-stand {
    font-size: 0.8em;
  }
}
.table {
  background-color: #11633b;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  height: 400px;
  width: 800px;
  border-radius: 200px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 30px #000;
  background: url("images/table.jpg") no-repeat #11633b;
  background-size: contain;
}
.table ul {
  width: 565px;
  height: 140px;
  margin: 80px 70px;
  text-align: left;
}
@media (min-width: 1050px) {
  .table {
    height: 450px;
    width: 900px;
    border-radius: 225px;
  }
  .table ul {
    width: 665px;
    height: 190px;
    margin: 80px 70px;
  }
}
@media (min-width: 1200px) {
  .table {
    height: 550px;
    width: 1100px;
    border-radius: 275px;
    right: -50px;
  }
  .table ul {
    width: 865px;
    height: 190px;
    margin: 100px 120px;
  }
}
@media (min-width: 1800px) {
  .table {
    height: 700px;
    width: 1400px;
    border-radius: 350px;
    right: -50px;
  }
  .table ul {
    width: 1265px;
    height: 190px;
    margin: 175px 180px;
  }
}
html {
  font-size: 62.5%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
html {
  overflow-y: scroll;
}
body {
  background: #01361a;
  color: #fff;
}
header.top {
  text-align: center;
}
header.top h1 {
  font-size: 14.4rem;
  line-height: 0.7;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
header.top h3 {
  margin: 0;
  font-size: 2rem;
  color: #f5a623;
  position: relative;
  display: inline-block;
}
header.top h3 span {
  background: #fff;
  position: relative;
  z-index: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}
header.top h3:before,
header.top h3:after {
  display: block;
  z-index: 1;
  background: #000;
  position: absolute;
  width: 130%;
  height: 1px;
  content: '';
  top: 5px;
  margin-left: -15%;
}
header.top h3:after {
  top: auto;
  bottom: 7px;
}
.reveal-list {
  list-style: none;
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.reveal-list .revealedhand {
  display: inline-block;
  width: 150px;
  height: 160px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  -webkit-animation: slideUp 0.5s forwards;
  animation: slideUp 0.5s forwards;
}
.reveal-list .revealedhand .revealcard {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 140px;
  border-radius: 10px;
  background-size: contain;
  top: 30px;
}
.reveal-list .revealedhand .revealcard:nth-child(1) {
  left: 0;
  -webkit-transform: rotateZ(-3deg);
  transform: rotateZ(-3deg);
}
.reveal-list .revealedhand .revealcard:nth-child(2) {
  left: 50px;
  -webkit-transform: rotateZ(3deg);
  transform: rotateZ(3deg);
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}
.player-list {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  text-align: left;
  vertical-align: middle;
}
.player-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.player-list ul li {
  background: #fff;
  color: #444;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  margin: 2px 0;
  position: relative;
  padding-right: 75px;
}
.player-list ul li img {
  width: 25px;
}
.player-list ul li span.player-cash {
  position: absolute;
  right: 5px;
}
.player-list ul li span.player-status {
  position: absolute;
  right: 0;
  margin-right: -160px;
  width: 150px;
  text-align: left;
  color: #fff;
}
@media (min-width: 1200px) {
  .player-list ul li {
    padding-right: 110px;
    font-size: 16px;
  }
  .player-list ul li img {
    width: 40px;
  }
}
@media (min-width: 1800px) {
  .player-list ul li {
    padding-right: 130px;
    font-size: 26px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .player-list ul li img {
    width: 60px;
  }
}
.hidden {
  display: none;
}
