// Import all partials
@require './_*.styl'

body
  background darkgreen
  color #fff

header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;

  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px


// Table

.table
  background-color tablegreen
  padding 20px
  margin 0 auto
  margin-top 50px
  text-align center
  ul
      width 565px
      height 140px
      margin 110px 70px
      text-align left
  height 400px
  width 800px
  border-radius 200px


// Game info

.game-info
  position absolute
  top 0
  right 0
  text-align right



// Revealed Hands

.reveal-list
  list-style none
  text-align center

  .revealedhand
    display inline-block
    width 150px
    height 160px
    margin-right 10px
    position relative
    text-align center
    -webkit-animation  slideUp 0.5s forwards
    animation  slideUp 0.5s forwards

    .revealcard
      position absolute
      display inline-block
      width 100px
      height 140px
      border-radius 10px
      background-size contain
      top 30px
      &:nth-child(1)
        left 0
        -webkit-transform rotateZ(-3deg)
        -ms-transform rotateZ(-3deg)
        transform rotateZ(-3deg)
      &:nth-child(2)
        left 50px
        -webkit-transform rotateZ(3deg)
        -ms-transform rotateZ(3deg)
        transform rotateZ(3deg)

@-webkit-keyframes slideUp {
    0% { -webkit-transform: translateY(200px); opacity: 0; }
    100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@-moz-keyframes slideUp {
    0% { -moz-transform: translateY(200px); opacity: 0; }
    100% { -moz-transform: translateY(0px); opacity: 1; }
}

// Player list

.player-list
  position absolute
  top 10px
  left 10px
  text-align left
  vertical-align middle
  ul
    list-style none
    margin 0
    padding 0
    li
      background #fff
      color #444
      padding 5px
      font-size 12px
      font-weight bold
      border-radius 5px
      margin 2px 0
      position relative
      padding-right 75px
      span
        &.player-cash
          position absolute
          right 5px
        &.player-status
          position absolute
          right 0
          margin-right: -160px
          width 150px
          text-align left
          color #fff

// Player UI


// Helpers
.hidden
  display none